<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>example - page1</title>
	<% if(env === 'production') {%>
		<link rel="stylesheet" type="text/css" href="/page1/index.css">
	<%}%>
</head>
<body>
	<div class="total-container">
		<div class="first-note">hello webpack
		</div>
		<br>
		<div id="app" class="image-example-page-1"></div>
	</div>
	<script src="/page1/bundle.js"></script>
	<% if(env !== 'production' && reload ===true) {%>
		<script src="/reload/reload.js"></script>
	<%}%>
</body>
</html>